<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Angular AUTH</a>
       
        <div>
            <p>Hello, {{fullName}}</p>
        </div>
      <button (click)="logOut()" class="btn btn-danger" style="margin-top: -2px;">Logout</button>
      </nav>
    </div>
    
   <div id="wrapper">
        <!-- Sidebar -->
        <ng-container *ngIf="role==='Admin'">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Angular Auth
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        </ng-container> 
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container table-responsive">
                            <table class="table table-hover" style="width: 80%;" *ngIf="users && users.length > 0">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>firstName</th>
                                        <th>lastName</th>
                                        <th>Email</th>
                                        <th>UserName</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let users of users">
                                    <tr>
                                        <td>{{users.id}}</td>
                                        <td>{{users.firstName}}</td>
                                        <td>{{users.lastName}}</td>
                                        <td>{{users.email}}</td>
                                        <td>{{users.username}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p *ngif="!employees || employees.length <= 0">Data Not Found</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>